/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}









/* OWN STYLESHEET */

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

.mainBanner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(img/hamburg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.mainBanner h2 {
    font-family: 'Cantarell', sans-serif;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 8px #111;
}

.mainBanner h1 {
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 8px #111;
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    .mainBanner {
        height: 500px;
    }
    
    .mainBanner h2 {
        font-size: 70px;
        line-height: 80px;
    }
    
    .mainBanner h1 {
        font-size: 30px;
        display: block;
        width: 600px;
        margin: 0 auto;
    }
}

/* HEADER */

header {
    position: fixed;
    background-color: #f1f1f1;
    width: 100%;
    height: 100px;
}

header .name {
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
    font-weight: 900;
    color: #666;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    color: #444;
    text-transform: uppercase;
}

header .issues {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .name {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }
    
    header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
    }

    header nav ul li a {
        line-height: 60px;
        font-size: 24px;
    }
    
    header .issues {
        display: block;
        font-family: 'Cantarell', sans-serif;
        font-size: 25px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}

/* INDEX */

.mainLinks div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.mainLinks div h3 {
    font-family: 'Cantarell', sans-serif;
    line-height: 100px;
    font-size: 26px;
    font-weight: 50;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
    
    .mainLinks  {
        overflow: hidden;
        padding-bottom: 20px;
    }
    
    .mainLinks div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }
        
    .mainLinks div h3 {
        line-height: 230px;
        font-size: 38px;
    }
    
    .rectanglePort {
        width: calc(99% - 20px) !important;
    }
    
    .rectangle {
        width: calc(33% - 20px) !important;
    }
}

/* ABOUT ME */

.mainAbout {
    background-color: #f1f1f1;
}

.mainAbout h1 {
    font-family: 'Cantarell', sans-serif;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    vertical-align: text-bottom;
}

#aboutMe {
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px 0 15px;
    text-align: justify;
}

#projectInfo {
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
    text-align: justify;
}

#tommy{
    display: block;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
    
    .mainAbout h1 {
        font-size: 50px;
    }
    
    #aboutMe {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 20px 10px 20px;
    }
    
    #projectInfo {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 20px 40px 20px;
    }
    
    #tommy {
        width: 40%;
    }
}

/* PORTFOLIO */

.portfolioLinks div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.portfolioLinks div h3 {
    font-family: 'Cantarell', sans-serif;
    line-height: 100px;
    font-size: 20px;
    font-weight: 50;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
    .portfolioLinks  {
        overflow: hidden;
        padding-bottom: 20px;
    }
    
    .portfolioLinks div {
        margin: 20px 10px 0;
        width: calc(50% - 20px) !important;
        height: 500px;
        background-color: #f2f2f2;
        float: left;
    }
    
    .portfolioLinks div h3 {
        line-height: 500px;
        font-size: 40px;
    }
    
    .portfolioMaze:hover {
        background-image: url(img/Maze.PNG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }  
        
    .portfolioBalancer:hover {
        background-image: url(img/Balancer.PNG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .portfolioBeer:hover {
        background-image: url(img/Jug.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }  
    
    .portfolioApp:hover {
        background-image: url(img/Messenger.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }  
}

/* FOOTER */

footer {
    display: block;
    width: calc(100%) - 80px;
    padding: 40px 40px;
    background-color: #838B8B;
    overflow: hidden;
}

.footerBy {
    text-align: center;
    font-size: 23px;
    font-family: arial;
}
